*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --primary-nav-color : rgb(49, 54, 71);
    --primary-bg-color : rgb(67, 86, 99);
    --primary-footer-color : rgb(255, 248, 212);

}

body{
    display: grid;
    grid-template-rows: 0.15fr 1fr 0.2fr;
    gap: 0;
    min-height: 100vh;

    background-color: rgb(105, 105, 105);
    
    color: rgb(255, 255, 255);
    
}

/* Header Stuff */
.navbar-container{

    
    

    background-color: rgb(49, 54, 71);
        
}





/* NAV BAR */

.navbar-inner{
    display: grid;
    grid-template-columns: auto auto 1fr auto;
    align-items: center;
    height: 100%;
    gap: 2rem;
    margin-right: 200px;
    margin-left: 200px;
}



/* Dropdown menu + Logo */


.menu{
    list-style-type: none;
    font-size: larger;
    
    
}

.dropdown{
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.hamburger{
    background-color: var(--primary-nav-color);
    border: none;
    color: var(--primary-footer-color);
    font-size: 25px;
    
}

.dropdown-menu{
    list-style-type: none;
    display: none;
}

.dropdown:hover .dropdown-menu{
    display: block;
    position: absolute;
    background-color: black ;
    padding: 10px;
}



/* SEARCH BAR */




.searchbar{
    width: 300px;
    border-radius: 10px;
    height: 30px;
    background-color: var(--primary-footer-color);
    font-size: 15px;
    padding: 5px;
    border: 1px solid;
}

.searchbar input::placeholder{
    color: red;
}



/* TOOL BOX */
.tool-box{
    font-size: 1rem;
    background-color: none;
}

.tool-box button{
    border: none;
    background-color: var(--primary-nav-color);
    font-size: 17px;
    color: var(--primary-footer-color);
    cursor: pointer;
}


/* Main Stuff */

main{
    background-color: rgb(67, 86, 99);
}

.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 30px;
    align-items: center;
    justify-items: center;
}




/* Footer Stuff */
footer{
    background-color: rgb(255, 248, 212);
}

.footer-box{
    display: flex;
    justify-content: center;
    gap: 30px;
}



